/*
 ToDo: Colored text, background, div experimentation, customizable buttons. Try to use everything you learned. 
*/

body{ 
    background-color: lightblue;
    letter-spacing: 2px;
}
    .background{ 
        background-color: rgb(85, 212, 157); 

    }
    .block-text{ 
        width: 650px;
        margin-left: auto; 
        text-align: center;
        margin-right: auto; 
        margin:100px;
        height:200px;
    }
    .one{ 
        width: 1300px;
        margin-right: auto; 
        margin-left: auto; 
        border:5px solid rgba(255, 255, 255, 0.822);
    }

 .description { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 30px;
    font-weight: 100; 
    margin: 50px 0;
    text-align: left;
    background: rgb(85, 212, 157) ;
}

li{ 
    margin: 15px;
}

.image{ 
    height: auto; 
    width: 50%;
    border: 20px;
    border-radius: 50%; 
    margin-left: auto;
    margin-right: auto;
    display:block; 
    
}

.list{ 
    text-align: center;
    background: rgb(85, 212, 157) ;
}

.top-header-small-text{ 
    font-size: 25px;
}

h2 { 
    font-size: 40px;
    text-align: center;
    font-weight: 100;
}

h1 { 
    font-weight: 500;
    font-size: 75px; 
    margin:0;
    text-align: center; 
    font-weight: 100;
    font-family: Helvetica, Arial, sans-serif; 
}

