/*
 ToDo: Colored text, background, div experimentation, customizable buttons. Try to use everything you learned. 
*/

body{ 
    background-color: lightblue;
    letter-spacing: 2px;
}
    .one{ 
        background-color: rgb(85, 212, 157); 
        width: 1300px;
        margin-left: auto; 
        text-align: center;
        margin-right: auto; 
        height:200px;
    }

 .description { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 20px;
    font-weight: 100; 
    margin: 50px 0;
    text-align: center;
    background: rgb(85, 212, 157) ;
}

li{ 
    margin: 15px;
}

.image{ 
    height: auto; 
    width: 50%;
    border: 20px;
    border-radius: 50%; 
    margin-left: auto;
    margin-right: auto;
    display:block; 
    
}

.list{ 
    text-align: left;
    background: rgb(85, 212, 157) ;
}

h2 { 
    font-size: 40px;
    text-align: center;
    font-weight: 100;
}

h1 { 
    font-weight: 500;
    font-size: 75px; 
    margin:100px;
    text-align: center; 
    font-weight: 100;
    font-family: Helvetica, Arial, sans-serif; 
}

